<?xml version="1.0"?>
<um-configuration version="1.0">
    <applications version="1.0.0.0">
        <application name="MyPrinterApp">
            <window>
                <height>800</height>
                <width>400</width>
                <position>RIGHT_UP</position>
                <content_position>0</content_position> <!--0 - horizontal, 1  - vertical-->
            </window>
            <file>
                <directory>
                    <template_folder>src/resources/editor/img/template/</template_folder>
                    <template_temporary_folder>src/resources/editor/img/temp/</template_temporary_folder>
                    <template_printing_folder>src/resources/editor/img/printing/</template_printing_folder>
                    <image_magick_api_folder>C:/Program Files/ImageMagick-7.1.0-Q16-HDRI/</image_magick_api_folder>
                    <label_external_PCX_folder>src/resources/label/</label_external_PCX_folder>
                    <label_PCX_TO_PNG_folder>src/resources/editor/img/label/</label_PCX_TO_PNG_folder>
                </directory>
                <names>
                    <template_default_name>default.jpg</template_default_name>
                    <template_temporary_default_name>tempText.png</template_temporary_default_name>
                    <label_printing_name>printer.png</label_printing_name>
                </names>
                <convert>
                    <type_pcx_conversion>1</type_pcx_conversion>
                </convert>
            </file>
            <pixel>
                <screen>
                    <PPI_INCH>135</PPI_INCH>
                    <PPI_CM>53</PPI_CM>
                </screen>
            </pixel>
            <printing>
                <type_printing>1</type_printing>
            </printing>
        </application>
    </applications>
</um-configuration>